* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #2755AA;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

#title {
  padding: .5vh 0vw;
  margin-bottom: 1.5vh;
  background-color: #8AAAE5;
}

#toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#search-helper-buttons {
  display: flex;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin-left: 15vw;
}

#load-more {
  margin: 1vh auto 3vh;
  border-radius: 5px;
  color: black;
  border: none;
  font-size: 20px;
  background-color: #2755AA;
  text-decoration: underline;
}

#load-more:hover {
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 1vh;
  margin-top: auto;
  background-color: #8AAAE5;
}