* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

#title {
  margin: 2vh 0vw;
}

#toolbar {
  display: flex;
  justify-content: space-around;
}

form * {
  border-radius: 5px;
  padding: .1vh .2vw;
}

form {
  display: flex;
  gap: 1vw;
}

form button {
  margin: 0px .1vw;
  background-color: #f4f4f4;
  color: black;
}

#sort-options {
  border-radius: 5px;
  padding: .1vh .2vw;
}

form button:hover {
  background-color: black;
  color: white;
}

#movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  margin: 2vh 10vw;
}

.movie-card {
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  min-width: 150px;
  width: 18%;
  gap: 5px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
  border: 1px solid gray;
}

.movie-card * {
  /* word-wrap: break-word; */
  border-radius: 10px;
  /* background-color: white; */
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.features {
  display: flex;
  justify-content: space-between;
}

.features button {
  border-radius: 0px;
  background-color: white;
  color: black;
  border: none;
  font-weight: lighter;
}

.features button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

#load-more {
  margin: 1vh 0px 3vh;
  border-radius: 5px;
  background-color: #f4f4f4;
  color: black;
  border: none;
  font-size: 20px;
}

#load-more:hover {
  cursor: pointer;
}

footer {
  background-color: lightgray;
  padding: 1vh;
  margin-top: auto;
}